.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: bold;
  cursor: pointer;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: transparent;
  border: 4px solid var(--primary-color);
  color: var(--primary-color);
}